#Создайте файл .env из копии этого файла и замените значения переменных реальными данными

#API-ключи
API_KEY=your_api_key_here   #API-ключ, снегерированный на twelvedata.com (для регистрации/авторизации переходить по ссылке https://twelvedata.com/docs#endpoints)